@import '../../styles/_vars.scss';
@import '../../styles/_mixins.scss';

.users {
  .user {
    padding: 20px;
    border: 1px solid $black;
    border-radius: 10px;
    & + .user {
      margin-top: 20px;
    }
    .userLink {
      @include link;
    }
    .postData {
      font-size: 8px;
    }
    .postData {
      font-size: 12px;
    }
  }
}
